{% extends "programmer/base.html" %}
{% block title %}Portfolio{% endblock %}
{% block content %}
<div class="top-header=content">
 <div class="form_content">
  {% if not has_portfolio %}
      <h1>Создание Портфолио</h1>
      <p>Пожалуйста, заполните форму, чтобы создать Портфолио:</p>
      <form method="post" enctype="multipart/form-data">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Create"></p>
      </form>
  {% else %}
      <h1>У вас уже есть Портфолио</h1>
  {% endif %}
</div>
</div>

{% endblock %}