{% extends "customer/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="p404">
    <h1>Oops....</h1>
    <h2>Page is not found</h2>
  </div>
  <div class="ghost-container">
            <div class="ghost-copy">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
                <div class="four"></div>
            </div>
            <div class="ghost">
                <div class="face">
                    <div class="eye"></div>
                    <div class="eye-right"></div>
                    <div class="mouth"></div>
                </div>
            </div>
            <div class="shadow"></div>
        </div>


{% endblock %}